<h3>
  <%= link_to event.name, event_path %>
</h3>
<%= link_to (cl_image_tag event.sport.photo.path, width: 150, height: 100, crop: :fill), event_path %>
<h5>
  <%=  %>
</h5>
<p>
  <%= event.time.strftime("%m/%d/%Y") %>
  <%= event.time.strftime("at %I:%M%p") %>
</p>
