<h1>Your selection</h1>

<div class="container">
  <% @events.each do |event| %>
    <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= cl_image_path event.sport.photo.path, width: 300, height: 200, crop: :fill %>);" alt="Photo de Sport">

        <%= image_tag("https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAXTAAAAJDFjYzM5MDMzLTI2MjYtNDliZS1hYTJlLTRiYjcyZjczYzRmMw.jpg", class: "card-user avatar avatar-large")%>
        <h2 class="card-title"><%= event.name %></h2>
        <h3 class="card-subtitle">Organized by <%= event.user.first_name %> <%= event.user.last_name %></h3>
        <p class="card-description"><%= event.description %></p>
        <%= link_to "", event, class: "card-link" %>
    </div>
  <% end %>
</div>


<p>
<%= link_to "Creat a event", new_event_path %>
</p>
