
<%= render "shared/search-bar-large" %>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <% @events.each do |event| %>
            <div class="col-md-6">
              <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= cl_image_path event.sport.photo.path, width: 300, height: 200, crop: :fill %>);" alt="Photo de Sport">

                  <%= image_tag("https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAXTAAAAJDFjYzM5MDMzLTI2MjYtNDliZS1hYTJlLTRiYjcyZjczYzRmMw.jpg", class: "card-user avatar avatar-large")%>
                  <h2 class="card-title"><%= event.name %></h2>
                  <h3 class="card-subtitle"></h3>
                  <p class="card-description"><%= event.user.first_name %> <%= event.user.last_name %><%= event.description %></p>
                  <%= link_to "", event, class: "card-link" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <div id="map" style="width: 100%; height: 100vh;">
          <% content_for(:after_js) do %>
            <script>
              $(document).ready(function() {
                var handler = Gmaps.build('Google');
                handler.buildMap({ internal: { id: 'map' } }, function() {
                  markers = handler.addMarkers(<%= raw @hash.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                  if (markers.length == 0) {
                    handler.getMap().setZoom(2);
                  } else if (markers.length == 1) {
                    handler.getMap().setZoom(15);
                  }
                });
              });
            </script>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <p class="btn btn-default">
  <%= link_to "Create a event", new_event_path %>
  </p>
