<h1 style="text-align: center"> Welcome to <%= current_user.first_name %>'s Dashboard </h1>


<div class="profile">
<% if current_user.photo? %>
  <%= cl_image_tag current_user.photo.path, :transformation=>[{:width=>200, :height=>200, :gravity=>"face", :radius=>"max", :crop=>"fill"},{:width=>300}] %>
<% end %>
</div>

<%= link_to "Edit your Profile" , edit_user_registration_path, class: "btn btn-primary" %>
<%= link_to "Create an event" , new_event_path, class: "btn btn-primary" %>


<div class="container">
  <div class="wrapper-grey">
    <h1>My Favorite Sports </h1>
        <% current_user.favorite_sports.each do |favorite_sport|%>
          <%= cl_image_tag favorite_sport.sport.photo.path, width: 300, height: 200, crop: :fill %>
          <h4><%= favorite_sport.sport.name %></h4>
          <p><% ((favorite_sport.level).to_i).times do |i| %>
          <i class="fa fa-smile-o"></i>
          <%end %>
          </p>
          <p><%= favorite_sport.material %></p>
          <%= link_to 'Delete', favorite_sport_path(favorite_sport.id), method: :delete, data: {confirm: "Are you sure?"}%>
        <% end %>
  </div>
</div>

<%= render "form_fav" %>

<h1> My events </h1>
<div class="container">
  <div class="wrapper-grey">
    <div class="row">
      <h3> Participant </h3>
        <% current_user.participations.each do |participation|%>
        <% if participation.status != "organizer" %>
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= cl_image_path participation.event.sport.photo.path, width: 300, height: 200, crop: :fill %>);" alt="Photo de Sport">

            <h2 class="card-title"><%= participation.event.name %></h2>
            <h3 class="card-subtitle"></h3>
            <p class="card-description"><%= participation.event.user.first_name %> <%= participation.event.user.last_name %><%= participation.event.description %></p>
            <%= link_to "", participation.event, class: "card-link" %>
          </div>
          <p><%= participation.event.sport.name %></p>
          <p>
            <% ((participation.event.required_level).to_i).times do |i|%>
              <i class="fa fa-smile-o"></i>
              <% end %>
          </p>
       <% end %>
      <% end %>
     </div>
    </div>
  </div>

   <div class="wrapper-grey">
      <h3> Organizer </h3>
        <% current_user.participations.each do |participation|%>
        <% if participation.status == "organizer" %>

          <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= cl_image_path participation.event.sport.photo.path, width: 300, height: 200, crop: :fill %>);" alt="Photo de Sport">

            <h2 class="card-title"><%= participation.event.name %></h2>
            <h3 class="card-subtitle"></h3>
            <%= link_to "", participation.event, class: "card-link" %>
          </div>
          <p><%= participation.event.sport.name %></p>
          <p>
            <% ((participation.event.required_level).to_i).times do |i|%>
              <i class="fa fa-smile-o"></i>
              <% end %>
          </p>
        <% end %>
      <% end %>
  </div>
</div>

  <%= link_to "Organize a new event", new_event_path, class: "btn btn-primary" %>


