<!DOCTYPE html>
<html>
  <head>
    <title>SportsInTheAir</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
      <div class="row">
        <%= render 'shared/flashes' %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>

        <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
        <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
        <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
        <%= javascript_include_tag 'application' %>
        <%= yield(:after_js) %>
      </div>
    </div>

     <div class="footer">
      <div>
        <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
        <p>This is a Sports in the air designed @LeWagon</p>
      </div>

  </body>
</html>
